.table-container {
    margin: 250px;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ccc;
  }

  table {
    /* border-collapse: separate; */
    border-spacing: 0;
    width: 100%;
    min-width: 700px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: white;
  }

  thead tr:first-child th {
    position: sticky;
    top: 0;
    height: 40px;
    background: #f1f1f1;
    z-index: 3;
  }

  thead tr:first-child th:first-child {
    position: sticky;
    top: -3px;
    height: 40px;
    background: #f1f1f1;
    z-index: 3;
    border-top: 1px solid #ddd;
  }

  thead tr:nth-child(2) th {
    position: sticky;
    top: 55px;
    height: 40px;
    background: #fafafa;
    z-index: 2;
  }

  th[rowspan] {
    vertical-align: middle;
  }

  tbody td {
    background-color: #fff;
  }